* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 50px;
}

.container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.row div {
    height: 40px;
    width: 40px;
    border: 1px solid grey;
}

.coloured {
    background-color: #00b4d8;
}